*.scvd
*.vim
*.d
*.axf
*.crf
*.sct
*.htm
*.lnf
*.hex
*.dep


.*.swp
.*.swn
.*.swo
.*.swl
.*.swm
tags
cscope.out
cscope.in.out
cscope.po.out

*.a
*.out
*.so
*.o

*.html
*.db
*.TMP
~$*

*.map
*.lnp
*.sct
*.lst
*.crf
*.d
*.axf
*.uvguix

I2C_ms5611/MDK-ARM/JLinkLog.txt
I2C_ms5611/MDK-ARM/JLinkSetting.ini
I2C_ms5611/MDK-ARM/Demo/*
I2C_ms5611/MDK-ARM/Template.uvguix.*
I2C_ms5611/MDK-ARM/startup_stm32f103xx.lst
I2C_ms5611/MDK-ARM/RTE/RTE_Components.h

